<div class="container-fluid bg-color1 vw-100 vh-100 pt-5">

    <div class="row justify-content-center p-1 p-xl-5 pt-5">
        <div class="row col-12 col-xl-6 mt-5 justify-content-center">
            <div class="col-12 row justify-content-center">
                <h1 class="f-35 text-white font-900">SUMMIT</h1>
                <h1><em class="f-35 text-white font-400">PROPERTIES</em></h1>
            </div>

            <div class="col-12 row justify-content-center">
                <h1 class="h3 text-white mt-5">WELCOME!</h1>
                <p class="col-12 h5 text-white mt-3 text-center font-100">Enter with your data</p>
            </div>

            <form class="row justify-content-center col-12 mt-5" (ngSubmit)="onRegister()" [formGroup]="form">
                <div class="row">
                    <div class="col-12">
                        <input class="col-12" type="text" placeholder="Name" formControlName="name" required [class.is-invalid]="email.touched && email.invalid">
                        <div class="mt-2" *ngIf="name.invalid && (name.dirty || name.touched)">
                            <small class="text-color2" *ngIf="name.errors.required">Required</small>
                        </div>
                    </div>
                    <div class="col-12 mt-3">
                        <input class="col-12" type="email" placeholder="Email" formControlName="email" required >
                        <div class="mt-2" *ngIf="email.invalid && (email.dirty || email.touched)">
                            <small class="text-color2" *ngIf="email.errors.required">Required</small>
                            <small class="text-color2" *ngIf="email.errors.email">Enter the email correctly</small>
                        </div>
                    </div>
                    <div class="col-12 mt-3">
                        <input class="col-12" type="password" placeholder="Password" formControlName="password" required >
                        <div class="mt-2" *ngIf="password.invalid && (password.dirty || password.touched)">
                            <small class="text-color2" *ngIf="password.errors.required">Required</small>
                            <small class="text-color2" *ngIf="password.errors.minlength">Minimum 8 characters</small>
                        </div>
                    </div>

                    <div class="col-12 mt-3">
                        <input class="col-12" type="password" placeholder="Password" formControlName="repassword" required>
                        <div class="mt-2" *ngIf="repassword.invalid && (repassword.dirty || repassword.touched)">
                            <small class="text-color2" *ngIf="repassword.errors.required">Required</small>
                            <small class="text-color2" *ngIf="repassword.errors.minlength">Minimum 8 characters</small>
                        </div>
                    </div>    
                    
                    <div class="col-12 mt-3">                       
                        <button class="col-12 mt-3">REGISTRARSE</button>
                    </div>
                </div>
            </form>

            <div class="row justify-content-center col-12 mt-3">
                <span class="text-white">{{response}}</span> 
            </div>

        </div>
        
    </div>



</div>


<div *ngIf="isLoad" class="load">
    <img src="/assets/img/load.svg">
</div>
