<header class="shadow">   

    <div class="m-0 row justify-content-between p-4">
        <div class="pl-3 row justify-content-center align-items-center">
            <p class="f-22 text-color1 font-900 p-0 m-0">SUMMIT</p>
            <p class="f-22 text-color2 font-400 p-0 m-0"><em>PROPERTIES</em></p>
        </div>
        <div (click)="logout()" class="d-none d-xl-flex cursor justify-content-center align-items-center mr-3">
            <span class="mr-3 text-color1 font-900 mt-1 f-14">SALIR</span>
            <i class="pi pi-sign-out text-color1 font-900"></i>        
        </div>
        <div  class="d-flex d-xl-none cursor justify-content-center align-items-center mr-3">
            <div (click)="toogleMenu()" class="menu d-flex justify-content-between align-items-center flex-column">             
                <label></label>
                <label></label>
            </div>
        </div>
    </div>        

    <div class="d-block d-xl-none">
        <app-menu *ngIf="menuHeader"></app-menu>    
    </div>
    
</header>
