<div>
    <ul class="list-unstyled col-12 m-0 bg-color1 p-0">
        <li class="cursor pl-5 p-3 text-white">
            <i class="pi pi-chart-bar"></i>
            <label class="ml-4">Panel</label>
        </li>
        <li class="cursor pl-5 p-3 text-white">
            <i class="pi pi-calendar"></i>
            <label class="ml-4">Eventos</label>
        </li>
        <li class="cursor pl-5 p-3 text-white">
            <i class="pi pi-bookmark"></i>
            <label class="ml-4">Sedes</label>
        </li>
        <li class="cursor pl-5 p-3 text-white">
            <i class="pi pi-microsoft"></i>
            <label class="ml-4">Complejos</label>
        </li>
        <li class="cursor pl-5 p-3 text-white">
            <i class="pi pi-table"></i>
            <label class="ml-4">Áreas</label>
        </li>        
        <li class="cursor pl-5 p-3 text-white">
            <i class="pi pi-compass"></i>
            <label class="ml-4">Equipamiento</label>
        </li>
        <li class="cursor pl-5 p-3 text-white">
            <i class="pi pi-user"></i>
            <label class="ml-4">Comisarios</label>
        </li>
        <li class="cursor pl-5 p-3 text-white">
            <i class="pi pi-circle-on"></i>
            <label class="ml-4">Deportes</label>
        </li>
        
    </ul>
</div>